table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: rgb(0, 153, 255);
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  tr:nth-child(even) {
    background-color: #272727;
  }
  
  tr:nth-child(odd) {
    background-color: #505050;
  }


  tr:hover td {
    background-color: #cfcfcf;
  }
 
tr:first-child td {
    font-weight: bold;
    background-color: #333;
    color: white;
  }