*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.1em;
}

body {
  background-color: #333;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  box-shadow: 0 2px 100px rgba(46, 154, 255, 0.39);
}

table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: rgb(0, 153, 255);
    padding: 10px 20px;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;  
    font-weight: 500;
    font-style: normal;
  }

  tr:nth-child(even) {
    background-color: #272727;
  }

  tr:nth-child(odd) {
    background-color: #505050;
  }


  tr:hover td {
    background-color: #cfcfcf;
  }

table th tr td {
    font-weight: bold;
    background-color: #333;
    color: white;
  }

  table thead tr th{
    color: rgb(255, 255, 255);
    background-color: #333;
  }

.selected {
  transform: scale(1.1);
  transition: 0.3s;
}

form {
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 0px 100px rgba(46, 154, 255, 0.39);
  padding: 20px;
  max-width: 300px;
  margin: auto;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; 
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box; 
  background-color: #fff;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 0.9em;
}

button {
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 10px 20px;
  border: none; 
  border-radius: 20px;
  cursor: pointer; 
  font-size: 1em;  
  transition: 0.3s;
}

button:hover {
  background-color: rgb(0, 120, 200);
  transition: 0.3s;
  scale: 1.05;
}